# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
coverage/

# Next.js
.next/

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store

# IDE
.vscode/
.idea/
