services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: cgm_user
      POSTGRES_PASSWORD: cgm_pass
      POSTGRES_DB: cgm_workflow
    ports:
      - "5432:5432"
    volumes:
      - cgm_workflow_pgdata:/var/lib/postgresql/data

  redis:
    image: redis:6
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - cgm_workflow_minio:/data

volumes:
  cgm_workflow_pgdata:
  cgm_workflow_minio:
